<!DOCTYPE html>
<html>
<!--From https://codepen.io/frytyler/pen/EGdtg-->

<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <center><h3>FRPRC BEAM SHEAR STRENGTH PREDICTION</h3></center>
    <div class="row">

      <div class="col-md-4 col-sm-12 mt-2">
        <h5>Fill up the followings to predict Shear Strength of FRP-RC Beam:</h5>
        <!-- Main Input For Receiving Query to our ML -->
        <form class="form-horizontal" action="{{ url_for('predict')}}" method="post">

          <div >
            <label for="rsn">Width of the beam (bw) in mm:</label>
            <div class="col-8 ">
              <input class="form-control" name="bw" placeholder="" type="text" required="required" />
            </div>

          </div>

          <div >
            <label for="rsn">Effective depth (d) in mm:</label>
            <div class="col-8">
              <input class="form-control" name="d" placeholder="" type="text" required="required" />
            </div>
          </div>

          <div >
            <label  for="rsn">Concrete cylinder strength (fc') in MPa</label>
            <div class="col-8">
              <input class="form-control" name="fc" placeholder="" type="text" required="required" />
            </div>
          </div>


          <div >
            <label  for="rsn">Effective length to depth ratio (a/d):</label>
            <div class="col-8">
              <input  class="form-control" name="a/d" placeholder="" type="text" required="required" />
            </div>
          </div>

          <div >
            <label for="rsn">Reinforcement ratio (p) in %:</label>
            <div class="col-8">
              <input  class="form-control" name="pf" placeholder="" type="text" required="required" />
            </div>
          </div>


          <div >
            <label for="rsn">Modulus of elasticity of fiber (Ef) in GPa:</label>
            <div class="col-8">
              <input  class="form-control" name="Ef" placeholder="" type="text" required="required" />
            </div>
          </div>
              
            <!-- <input type="text" name="bw" placeholder="bw" required="required" />
        <input type="text" name="d" placeholder="d" required="required" />
        <input type="text" name="fc" placeholder="fc" required="required" />
        <input type="text" name="a/d" placeholder="a/d" required="required" />
		<input type="text" name="pf" placeholder="pf" required="required" />
		<input type="text" name="Ef" placeholder="Ef" required="required" /> -->
            <div class="container mt-2">
              <div class="d-flex float-right">
                <button type="submit" class="btn btn-info">Predict</button>
              </div>
            </div>
        </form>
      </div>
    </div>

    <div class="col-md-4 mt-5 col-sm-12">
      <img src="/tmp/pic1.png" style="height: 80%; width: 100%;"></img>
    </div>

    <div class="col-md-4 mt-2 col-sm-12">
      <h3>Prediction Result</h3>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Model</th>
            <th scope="col">Predicted Value(KN)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Random Forest</td>
            <td>{{ rf }} </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>AdaBoost</td>
            <td>{{ ab }}</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>ANN</td>
            <td>{{ ann }}</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>CatBoost</td>
            <td>{{ cb }}</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Decision Tree</td>
            <td>{{ dt }}</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>KNN</td>
            <td>{{ knn }}</td>
          </tr>
           <tr>
            <th scope="row">7</th>
            <td>Lasso Regression</td>
            <td>{{ lasso }}</td>
          </tr>
           <tr>
            <th scope="row">8</th>
            <td>Linear Regression</td>
            <td>{{ lr }}</td>
          </tr>

           <tr>
            <th scope="row">9</th>
            <td>Ridge Regression</td>
            <td>{{ rr }}</td>
          </tr>

           <tr>
            <th scope="row">10</th>
            <td>SVR</td>
            <td>{{ svr }}</td>
          </tr>
           <tr>
            <th scope="row">11</th>
            <td>XgBoost</td>
            <td>{{ xg }}</td>
          </tr>
        </tbody>
      </table>   
    </div>
  </div>
  </div>
</body>

</html>
